@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes quedaGota {
  from {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  to {
    transform: translate(-50%, 60px);
    opacity: 0;
  }
}